*{
  box-sizing: border-box;
}

body{
  height: 140em;
  width: 100%;
  margin: 0;
}

#background-video{
  height: 70%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; // optional depending on what you want
}

.main_title {
  /*border: solid 1px;*/
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
  height: 2em;
  /*top: 10em;
  left: 10em;*/
  text-align: center;
  margin: 0 auto;
  padding: .5em;
  width: 10em;
}

.outer-container {
  border: 1px dotted black;
  width: 100%;
  height: 40em;
  text-align: center;
}

.inner-container {
  border: 1px solid black;
  display: inline-block;
  height: 112;
  position: relative;
  margin: 0;
}

.video-overlay {
  /*border: solid 2px;*/
  display: block;
  position: absolute;
  /*left: 12em;
  top: 5em;*/
  /*margin: 10px;*/
  padding: 5px 5px;
  font-size: 2em;
  font-family: Helvetica;
  color: #FFF;
  margin: 0 auto;
  margin-top: 5em;

  /*text-align: center;*/
  width: 100%;
  /*background-color: rgba(50, 50, 50, 0.3);*/
}

video {
  width: 100%;
  height: 100%;
}

.left_button{
  background-color: Transparent;
  border: solid white 2px;
  color: white;
  height: 4em;
  width: 10em;
}

.right_button{
  background-color: Transparent;
  border: solid white 2px;
  color: white;
  height: 4em;
  margin-left: 1em;
  width: 10em;
}

/* second page start ----------*/
/* nav bar start----------------*/
#wrapper {
  height: 20em;
  width: 100%x;
}

.page2_wrapper{
  background-image: url("/styles/hood.jpg");
  margin: 0;
}

header {
  text-align:center;
}

.nav_placeholder{
  background-color: yellow;
  height: 0px;
  width: 100%;
}

.nav_placeholder_grow{
  border: solid 2px;
  background-color: red;
  height: 0;
  margin: 0;
  width: 100%;
}

nav {
  /*display: none;*/
  background: lightgrey;
  height: 82px;
  width: 100%;
  margin: 0;
  top: 0;
  padding: 1em;
  position: relative;
}

.nav_wrapper{
  /*display: none;*/
  display: inline-flex;
  margin: 0;
  height: 100%;
  height: 82px;
  padding: 0;
}

.nav_left{
  background-color: lightslategrey;
  margin: 0;
  height: 100%;
  width: 45%;
}

.nav_middle{
  background-color: darkgrey;
  margin: 0;
  height: 100%;
  width: 10%;
}

.nav_middle:hover{
  background-color: grey;
  margin: 0;
  height: 100%;
  width: 10%;
}

.fa-facebook{
  /*background-color: lightblue;*/
  border-radius: 100px;
  color: #3b5998;
  margin-top: .05em;
  margin-left: .5em;
  padding: .3em;
  /*vertical-align: middle;*/
  width: 80px;
	height: 95%;
	background: lightcyan;
	-moz-border-radius: 50px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
  text-align: center;
  text-decoration: none;
}


.nav_right{
  background-color: teal;
  margin: 0;
  height: 100%;
  width: 45%;
}



/*@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

div {
    font-family: myFirstFont;
}*/


.nav_name_left {
  color: white;
  display: inline-block;

  /*font-family: '/styles/klavika', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin: 0;
  margin-left: 5em;
  height: 100%;
  padding: 0;
  padding-top: .4em;
  /*text-align: center;*/
  width: 30%;
  white-space: pre;
  vertical-align: middle;
}


.nav_content_right {
  display: inline-flex;
  /*border: solid 2px;*/
  color: white;
  list-style: none;
  margin-left: 2em;
  margin-top: 0;
  height: 5em;
  /*padding-top: 1em;*/
  width: 70%;
}

.nav_options{
  /*border: solid 1px;*/
  display: inline-block;
  color: white;
  font-family: 'NTR', sans-serif;
  font-size: 1.3em;
  height: 102%;
  padding: 1em;
  text-decoration: none;
}

.nav_options:hover{
  background-color: white;
  /*font-size: 3em;*/
  color: black;
  transition: .5s;
}

.services_window_hidden{
    display: none;
}

.services_window_display{
  background-color: lightgrey;
    display: inline-block;
    top: 5em;
    left: 20em;
    /*margin-left: 10em;*/
    height: 40em;
    width: 100%;
    z-index: 100;
}

.services_text{
  font-size: 2em;
}


.fixed {
  position: fixed;
}
/* nav bar stop----------------*/







.page2_wrapper_content{
    margin-top: 5em;
}

.page2_wrapper_content_hidden{
    display: none;
}
/*.image_hood{
  display: none;
  margin: 10em;
  opacity: .2;
}*/
.page2_left_area{
  display: inline-block;
  /*margin-top: 10em;*/
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  width: 40%;
  vertical-align: top;
}

.page2_name_title{
  color: teal;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
}

.text {
  margin: 0;
  margin-bottom: 1em;
  text-indent: 1em;
}

.empty_box{
  background-color: lightgrey;
  border: groove 2px;
  box-shadow: 10px 10px 5px #888888;
  display: inline-block;
  height: 10em;
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  /*padding: 3em;*/
  width: 10em;
}

.page2_right_area{
  display: inline-block;
  margin: 0;
  margin-left: 10em;
  width: 40%;
}

.agent_right_page2 {
  border: outset grey 3px;
  box-shadow: 10px 10px 5px #888888;
  height: 20em;
  width: 30em;
}

.contact_area {
  /*display: inline-flex;*/
  margin: 0 auto;
  margin-top: 1em;
  width: 100%;
  text-align: center;
}

.contact_title {
  /*display: inline-block;*/
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0;
}

.contact_buttons{
  display:inline-flex;
}

.contact_input {
  background-color: white;
  border: darkslategrey solid 1px;
  font-size: 1em;
  height: 1.4em;
  margin-left: .2em;
  text-align: center;
  padding-left: .2em;
  width: 10em;
}

.contact_submit{
  background-color: white;
  border: darkslategrey solid 1px;
  height: 2em;
  margin-left: .3em;
  width: 5em;
}
