*{
  box-sizing: border-box;
}

body{
}

.home_page{
  border: solid 2px;
  height: 20em;
  width: 20em;
}


#background-video{

height: 100%;
width: 100%;
float: left;
top: 0;
padding: none;
/*position: fixed; // optional depending on what you want*/


}

.main_movie{
  z-index: -1;
}

.main_title{
  top: 10em;
  left: 10em;
  z-index: 1;
}

.outer-container {
    border: 1px dotted black;
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner-container {
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

.video-overlay {
  border: solid 2px;
    position: absolute;
    left: 6em;
    top: 5em;
    margin: 10px;
    padding: 5px 5px;
    font-size: 2em;
    font-family: Helvetica;
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.3);
}
video {
    width: 100%;
    height: 100%;
}

.money_button{
  background-color: Transparent;
  border: solid white 2px;
  color: white;
  height: 4em;
  width: 10em;
}

.gold_button{
 background-color: Transparent;
 border: solid white 2px;
 color: white;
 height: 4em;
 width: 10em;
}
